// Import global variables if you have them
// @import '../../../styles/variables';

// Header styles
.header {
  color: #013f44;
  background-color: #ffffff !important;
}

.header__topbar {
  padding: 8px 0;
  background-color: #fff;
  font-size: 1.4rem;
  line-height: 1.14;
  color: #013f44;
}

.navbar_bg {
  background-color: #013f44 !important;
}

.navbar {
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .header__topbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header__topbar {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__topbar--mob {
    position: relative;
    display: block;
    padding: 0;
    padding-top: 32px;
  }

  .header__topbar--mob:before {
    content: "";
    position: absolute;
    top: 0;
    left: -8px;
    right: -8px;
    height: 1px;
    background-color: rgba(1, 63, 68, 0.1);
  }
}

@media screen and (min-width: 768px) {
  .header__topbar--mob {
    display: none;
  }
}

.header__btn {
  position: relative;
  margin-left: 6px;
  padding: 13px 28px 13px 42px;
  background: #ffe600 url("../../../../public/assets/images/add-icon.svg")
    no-repeat center left 8px/24px 24px;
  color: #013f44;
  z-index: 5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  border: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.header__btn:hover,
.header__btn:focus {
  color: #013f44;
}

@media screen and (max-width: 767px) {
  .header__btn {
    width: 32px;
    height: 32px;
    padding: 4px;
    background-position: center;
  }

  .header__btn span {
    display: none;
  }

  .header__btn.show {
    width: auto;
    padding: 4px 16px 4px 38px;
    background-position: center left 4px;
  }

  .header__btn.show span {
    display: inline-block;
  }
}

.header__btn:hover {
  background-color: #ffe600;
  -webkit-box-shadow: 0px 10px 20px rgba(255, 230, 0, 0.3);
  -moz-box-shadow: 0px 10px 20px rgba(255, 230, 0, 0.3);
  box-shadow: 0px 10px 20px rgba(255, 230, 0, 0.3);
}

.header__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .header__links {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .header__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 24px;
  }
}

.header__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 46px;
  margin-right: 10px;
  padding: 10px;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus {
  color: #fff;
}

@media screen and (min-width: 767px) {
  .header__link:hover,
  .header__link:focus {
    background-color: #014c52;
  }
}

@media screen and (max-width: 767px) {
  .header__link {
    margin-right: 0;
    color: #013f44;
  }

  .header__link:hover,
  .header__link:focus {
    color: #013f44;
  }
}

.header__link:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url("../../../../public/assets/images/review-icon.svg");
}

.header__link--favorites:before {
  background-image: url("../../../../public/assets/images/favorite_white-icon.svg");
}

@media screen and (max-width: 767px) {
  .header__link--favorites:before {
    background-image: url("../../../../public/assets/images/favorite_main-icon.svg");
  }
}

.header__link--login:before {
  background-image: url("../../../../public/assets/images/person-icon.svg");
}

@media screen and (max-width: 767px) {
  .header__link--login:before {
    background-image: url("../../../../public/assets/images/person_main-icon.svg");
  }
}

.header__logout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logout:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background: url("../../../../public/assets/images/logout-icon.svg") no-repeat
    center/cover;
}

// Navbar specific styles
.navbar {
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarToggler {
  width: 32px;
  height: 32px;
  padding: 0;
  background: url("../../../../public/assets/images/toggler.svg") no-repeat
    center/24px 24px;
  z-index: 5;
  border: none;
  cursor: pointer;
  display: none; /* Hidden by default */
}

.navbarToggler.active {
  background-image: url("../../../../public/assets/images/toggler_close.svg");
}

@media screen and (max-width: 767px) {
  .navbarToggler {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .navbarCollapse {
    position: fixed;
    top: 0;
    left: 0;
    display: none !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 100% !important;
    padding: 80px 8px 20px;
    background-color: #fff;
    overflow-y: auto;
    z-index: 4;
  }

  .navbarCollapse.show {
    display: block !important;
  }
}

@media screen and (min-width: 768px) {
  .navbarCollapse {
    display: flex !important;
    position: static;
    width: auto;
    height: auto;
    background: none;
    padding: 0;
  }
}

.navbarBrand {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .navbarBrand {
    max-width: 64px;
  }

  .navbarBrand img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    min-height: 64px;
    padding: 16px 8px;
    z-index: 100;
  }
}

.hidden {
  display: none;
}
