// src/components/Home/HomeFilter/HomeFilter.module.scss
@import "../../../styles/variables.scss";

.homeFilters {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.dekstopSearchBar {
  max-width: 690px !important;
  padding: 0 !important;
  margin: 0 auto !important;
  margin-bottom: 20px !important;

  @media screen and (max-width: calc(#{$breakpoint-md} - 1px)) {
    max-width: 100% !important;
    margin-bottom: 20px !important;
  }
}
