@import "../../styles/variables.scss";

.footer {
  background-color: $primary-color;
  color: $white;
  padding: 20px 0;
  border-top: 10px solid $secondary-color;
}

.footerBottombar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerCopyright {
  font-size: $font-size-small;
}

.footerLink {
  font-size: $font-size-small;
  margin-left: 20px;
  text-decoration: underline;
}
